<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqCnbUEVAXUfOPxSF88AsDwOuX7k6OQhU</string>
	<key>GCM_SENDER_ID</key>
	<string>49774948480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.plantiful</string>
	<key>PROJECT_ID</key>
	<string>plantiful-4tcukb</string>
	<key>STORAGE_BUCKET</key>
	<string>plantiful-4tcukb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49774948480:ios:23146258ba4573d09db665</string>
</dict>
</plist>